<div class="card mt-4" style="width: 50vw;">
  <div class="card-body">
    <h5 class="card-title"><%= @pet.name %> <span class="badge text-bg-primary"><%= @pet.species %></span></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Found <%= @pet.found_days_ago %> days ago.</h6>
    <p class="card-text"><%= @pet.address %></p>
    <%= link_to "Mettre à jour cet animal", edit_pet_path(@pet), class: 'btn btn-success'  %>
    <%= link_to "Supprimer cet animal", pet_path(@pet), data: { turbo_method: :delete, turbo_confirm: "Êtes vous sur?"}, class: 'btn btn-danger'  %>
  </div>
</div>
<%= link_to "Retour à la liste", pets_path, class: 'btn btn-primary mt-4'  %>